.joe-jia-3 {
  	position: absolute;
  	top: 82px;
  	left: calc(50% - 188px);
  	width: 376px;
  	height: 682px;
  	object-fit: cover;
  	cursor: pointer;
}
.iphone-14-15-pro-3 {
  	width: 100%;
  	position: relative;
  	background-color: #581414;
  	height: 812px;
  	overflow: hidden;
}
.layout-wrapper {
  width: 375px;
  margin: 0 auto;
  position: relative;
  background-color: #581414;
  overflow: hidden;
}
@media (min-width: 768px) {
  .layout-wrapper {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
  }
}
body {
  display: flex;
  justify-content: center;
  background-color: #581414;
}
